ul{
    padding: 0;
}

li{
    list-style-type: none;
    padding:12px;
    margin-bottom: 8px;
    border: 1px solid black;
    border-radius: 6px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

}

@media (max-width:600px) {
    li{
        font-size: 14px;
        flex-direction: column;
        
    }
    
}